<%= simple_form_for @event do |f| %>
  <%= f.input :event_name, label: 'Give your event a name' %>
  <div class="form-group" class="inline">
    <%= f.datetime_field :start_dt, label: 'Time and date of event'%>
    <%= f.input :registration_deadline, collection: ["3 minutes", "1 hour",
      "4 hours", "12 hours", "1 day", "3 days", "5 days" ],
      label: 'How long do guests have to register?' %>
  </div>
  <%= f.simple_fields_for [ @user ] do |u| %>
    <%= u.input :name, label: "What's your name?"%>
    <%= u.input :email, label: "What's your e-mail?"%>
    <%= u.input :address, label: "Where are you travelling from?"%>
  <% end  %>
  <%= f.submit "Create your event", class:"main-button" %>
<% end %>

