<h1 class="title-h1">Create your event</h1>

<%= simple_form_for @event, html: { autocomplete: 'off' } do |f| %>
  <%= f.input :event_name, label: 'Give your event a name' %>
  <div class="radio-inline">
    <%= f.input :venue_type, as: :radio_buttons,  collection: [['0', 'Bar'],['1', 'Cafe']],
     label_method: :second, label: 'Where do you want to meet?', checked: ['0', 'Bar'] %>
  </div>

 <%= f.input :start_dt, as: :string, required: true, input_html: {class: "datepicker form-control"},
  label: 'When does the event start?' %>
  <!-- <input type="date" name="start_dt" class="datepicker form-control"> -->
  <%= f.input :registration_deadline, collection: ["3 minutes", "1 hour",
      "4 hours", "12 hours", "1 day", "3 days", "5 days" ],
      label: 'Choose how long guests have to join', selected: ["1 hour"] %>
  <%= f.simple_fields_for @user ,html: { autocomplete: 'on' } do |u| %>
    <%= u.input :name, label: "What's your name?"%>
    <%= u.input :email, label: "What's your email address?"%>
    <%= u.input :address, label: "Where are you travelling from?"%>
  <% end  %>
  <%= f.submit "Create your event", class:"main-button" %>
<% end %>
