<div class="home-container">
  <h1 class="title-h1" id="name-id"><%= @event.event_name %></h1>
   <p class="form-label" id="copy-link">Copy this link to share your event</p>
</div>

<div class="share-code">
  <% if Rails.env.production? %>
    <p id="token" style="word-wrap: break-word">http://epicenter.live/events/<%= @event.event_token %></p>
  <% else %>
    <p id="token" style="word-wrap: break-word">localhost:3000/events/<%= @event.event_token %></p>
  <% end %>
</div>

<div class="main-button-container">
  <button class="main-button">Copy link</button>
</div>

<div class="waitng-page-text" style="text-align: center; margin-top: -10px; margin-bottom: 10px">
  <%= link_to "Go to the waiting page", "/waiting" + "?event=#{@event.event_token}" %>
</div>

<div class="image-container">
 <%= image_tag('share.png') %>
</div>

