<div class="home-container">
  <h1 class="title-h1">Meet in the middle.</h1>
  <p id="home-container__text">Catch up with friends without the hassle of choosing where to go.</p>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="10000000000">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active ">
        <%= image_tag('dark_map.png', class: "home-carousel__image") %>
        <p>Create an event. Choose when to meet but don't specify a location.</p>
      </div>
      <div class="carousel-item">
          <%= image_tag('biking.png', class: "home-carousel__image") %>
          <p>Share with friends who tell us where they’re travelling from.</p>
      </div>
      <div class="carousel-item">
        <%= image_tag('having_fun.png', class: "home-carousel__image") %>
        <p>We calculate the central point & find a nearby venue that works for everyone.</p>
      </div>
    </div>

  </div>
</div>
<div class="footer">
<%= link_to(new_event_path) do %>
<%= render 'shared/main-button' %>
<% end %>
</div>
