
<div class="join-wrapper" data-time="<%=@event.created_at%>" data-deadline="<%=@event.registration_deadline%>" data-id="<%=@event.event_token%>">

    <div class="home-container">
      <h1 class="title-h1">Waiting for others to join</h1>
    </div>

    <div class="image-container">
     <%= image_tag('waiting.png') %>
    </div>

    <p class="title-h2" style="text-align: center">Who's joined so far?</p>
    <ul>
      <% @users.each do |user| %>
        <% if user.organiser == true %>
          <li><%= user.name %> (Organiser)</li>
        <% else %>
          <li><%= user.name %></li>
        <% end %>
      <% end %>
    </ul>

    <div id="clockdiv"></div>
    <h2 class="title-h2-center">Time left to join</h2>

  <% if cookies["event+#{@event.event_token}"] == 'true' %>
    <%= form_tag endwaiting_path(@event.event_token), method: :post do %>
      <button class="main-button">End countdown now!</button>
    <% end %>
  <% end %>

</div>
